<mat-toolbar>
  <span>Product Catalogue</span>
</mat-toolbar>

<mat-card>
    <mat-card-content>
      <button mat-raised-button color="primary" [matMenuTriggerFor]="menu">
        Open Menu
      </button>
  
      <mat-menu #menu="matMenu">
        <button mat-menu-item [matMenuTriggerFor]="subMenuPro">
          <span>Product</span>
        </button>
        
        <button mat-menu-item [matMenuTriggerFor]="subMenuCat">
          <span>Category</span>
        </button>
      </mat-menu>
  
      <mat-menu #subMenuPro="matMenu">
          <button mat-menu-item routerLink="/create">Add</button>
          <button mat-menu-item routerLink="/search">Search</button>
          <button mat-menu-item routerLink="/list"> List</button>
      </mat-menu>

      <mat-menu #subMenuCat="matMenu">
          <button mat-menu-item routerLink="/create-category">Create</button>
          <button mat-menu-item routerLink="/list-category"> List</button>
      </mat-menu>
  
    </mat-card-content>
    </mat-card>
<div>
  <router-outlet></router-outlet>
</div>