<div>
    <br>
    <mat-card>
      <section class="mat-typography">
        <h3>Add New Category</h3>
      </section>
      <mat-divider></mat-divider>
      <br>
      <form [formGroup]="createForm" class="create-form">
        <mat-form-field class="field-full-width">
          <input matInput placeholder="Category Name" formControlName="catName" #catName>
        </mat-form-field>
        <mat-divider></mat-divider>
        <br><br>
        <button mat-raised-button color="accent" routerLink="/list-category">Back</button>&nbsp;
        <button type="submit" (click)="addCategory(catName.value)" [disabled]="createForm.pristine || createForm.invalid" mat-raised-button color="primary">Save</button>
      </form>
    </mat-card>
  </div>