<div>
  <mat-card>
    <!-- Header -->
    <div>
      <h1>Search Product</h1>
    </div>
    <!-- Header -->

    <br>

    <br>

    <!-- Username Search Box -->
    <div class="navbar-form">
      <div class="form-group">
        <input matInput name="searchByName" placeholder="search by..." ng-model="searchByName">
      </div>
      <br>
      <button mat-raised-button color="accent">Name</button>
    </div>
    <br>
    <!-- E-mail Search Box -->
    <div class="navbar-form">
      <div class="form-group">
        <input matInput name="searchBySkuNumber" placeholder="search by..."
          ng-model="searchBySkuNumber">
      </div>
      <br>
      <button mat-raised-button color="accent">Sku Number</button>
    </div>
  </mat-card>

  <!-- User Management Table -->

</div>
