<div>
  <mat-card>
    <section class="mat-typography">
      <h3>Search Product</h3>
    </section>
    <mat-divider></mat-divider>
    <br>
    <form [formGroup]="searchForm" class="search-form">
      <mat-form-field class="field-full-width">
        <input matInput placeholder="Name" formControlName="byName" #byName>
      </mat-form-field>
      <button type="submit"
        (click)="searchProduct(name.value)"
        [disabled]="searchForm.pristine || searchForm.invalid" mat-raised-button color="primary">Search</button>
      <mat-form-field class="field-full-width">
        <input matInput placeholder="Sku Number" formControlName="bySku" #bySku>
      </mat-form-field>
      <mat-divider></mat-divider>
      <button type="submit"
        (click)="searchProduct(name.skuNumber)"
        [disabled]="searchForm.pristine || searchForm.invalid" mat-raised-button color="primary">Search</button>
    </form>
  </mat-card>
</div>